<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>bienvenidos a mercado liebre</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/normalize.css">
    </head>
<body>

<header>
    <div class="header-top">
        <img src="images/logo-mercado-liebre.svg " class="logo" alt="">
        <form class="contenedor-busqueda" action="">
            <input type="search" placeholder="Buscar productos, marcas">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <p><i class="fas fa-hand-holding-usd"></i> compra en cuotas y sin tarjeta de credito</p>
    </div>
    <section class="contenedor-navegacion">
        <nav>
            <ul>
                <li><a href="https://www.google.com.ar/?hl=es-419">Ofertas</a></li>
                <li><a href="https://www.google.com.ar/?hl=es-419">Tienda Oficiales</a></li>
                <li><a href="https://www.google.com.ar/?hl=es-419">Vender</a></li>
                <li><a href="https://www.google.com.ar/?hl=es-419">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a>
                </li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="https://www.google.com.ar/?hl=es-419">Mis compras <i
                        class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
        <button class="hamburguesa">≡</button>
    </section>
</header>
<img src="/images/img-home-banner.jpg" alt="banner" srcset="">

<main>
    <h1>Basado en tu ultima visita</h1>
    <diV class="contenedor-articulos">
        <!--Articulo cafetera-->
        <section>
            <img class="img" src="images/img-cafetera-moulinex.jpg" alt="">
            <article>
                <i class="camioncito fa-solid fa-truck"></i>
                <diV class="contenedor-precio">

                    <p class="precio">$6.670
                        <span class="descuento">40% off</span>
                    </p>
                </diV>
                <h3>Cafetera moulinex</h3>
            </article>
        </section>
        <!--Articulo Mac-->
        <section>
            <img class="img" src="images/img-macbook-pro-2019.jpg" alt="">
            <article>
                <i class="camioncito fa-solid fa-truck"></i>
                <diV class="contenedor-precio">
                    <p class="precio"> $230.000
                        <span class="descuento">  20% off</span>
                    </p>
                </diV>
                <h3> MacBook Pro 2019</h3>
            </article>
        </section>
        <!--Articulo SamsungG-->
        <section>
            <img class="img" src="images/img-samsung-galaxy-s10.jpg" alt="">
            <article>
                <i class="camioncito fa-solid fa-truck"></i>
                <diV class="contenedor-precio">
                    <p class="precio"> $70.500
                        <span class="descuento">    10% off</span>
                    </p>
                </diV>
                <h3> Samsung Galaxy S10</h3>
            </article>
        </section>
        <!--Articulo tv-->
        <section>
            <img class="img" src="images/img-tv-samsung-smart.jpg" alt="">
            <article>
                <i class="camioncito fa-solid fa-truck"></i>
                <diV class="contenedor-precio">
                    <p class="precio"> $23.200
                        <span class="descuento">    5% off</span>
                    </p>
                </diV>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </diV>
    <h1>Sección de Ofertas</h1>
    <!--Articulo 3-->
    <diV class="contenedor-articulos">
        <section>
            <img class="img" src="images/img-cafetera-moulinex.jpg" alt="">
            <article>
                <i class="camioncito fa-solid fa-truck"></i>
                <diV class="contenedor-precio">

                    <p class="precio">$6.670
                        <span class="descuento">40% off</span>
                    </p>
                </diV>
                <h3>Cafetera moulinex</h3>
            </article>
        </section>
        <!--Articulo Mac-->
        <section>
            <img class="img" src="images/img-macbook-pro-2019.jpg" alt="">
            <article>
                <i class="camioncito fa-solid fa-truck"></i>
                <diV class="contenedor-precio">
                    <p class="precio"> $230.000
                        <span class="descuento">  20% off</span>
                    </p>
                </diV>
                <h3> MacBook Pro 2019</h3>
            </article>
        </section>
        <!--Articulo SamsungG-->
        <section>
            <img class="img" src="images/img-samsung-galaxy-s10.jpg" alt="">
            <article>
                <i class="camioncito fa-solid fa-truck"></i>
                <diV class="contenedor-precio">
                    <p class="precio"> $70.500
                        <span class="descuento">    10% off</span>
                    </p>
                </diV>
                <h3> Samsung Galaxy S10</h3>
            </article>
        </section>
        <!--Articulo tv-->
        <section>
            <img class="img" src="images/img-tv-samsung-smart.jpg" alt="">
            <article>
                <i class="camioncito fa-solid fa-truck"></i>
                <diV class="contenedor-precio">
                    <p class="precio"> $23.200
                        <span class="descuento">    5% off</span>
                    </p>
                </diV>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </diV>
</main>


<footer>
    <div class="contenedor-medio-pago">
        <!-- tipo pago -->
        <div class="medio-pago">
            <i class="fa-sharp fa-solid fa-credit-card"></i>
            <h2>Paga con tarjeta o en enfectivo</h2>
            <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta de o efectivo en puntos
                de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="medio-pago">
            <i class="fa-solid fa-gift"></i>
            <h2>Envio gratis desde $2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos.
                Es un beneficio de Mercado puntos</p>
        </div>
        <div class="medio-pago">
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de princio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                estas siempre protegid@ </p>
        </div>
    </div>
    <div>
        <p>Copiright &COPY; 1999- 2020 MercadoLiebre S.R.L</p>
    </div>


</footer>
</body>
</html>